﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://gitlab.com/JFronny/home" target="_blank" class="ml-md-auto">
            <img src="images/gitlab-b.png" style="height: 2.5rem;" alt="GitLab icon"></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
