@page "/bot"

<h1>Anime-Bot</h1>

Anime-Bot is my very own Discord bot. It has an advanced config system and supports many common commands. If you have suggestions, please contact me!
<br>
My instance of the bot is running on a RasPI, which is not a very powerful machine. Because of this only I can add the official instance to a server.
<br>
If you want it on your server you will most likely have to host it yourself. The Source code can be found <a href="https://github.com/JFronny/Disc-Hax">here</a>
<br>
You can test the bot on <a href="discord">my server</a>