@page "/cos"

<h1>C-OS</h1>

C-OS is an experimental debian based linux distribution created by me.
<br>
<br>
<p>Root & Account password: "P4ssw0rd!"</p>
<a class="btn btn-dark" href="https://drive.google.com/uc?id=1KZpm6UE-G4fjFsT79xzdGXy8_5AImR-0&export=download"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Download</a>
<br>
<br>
<small>You can also <a href="/home/cos#" @onclick="ShowVerifyPrompt" @onmouseout="PopupButtonLeave" @onmouseover="PopupButtonEnter">verify your download</a></small>
@if (popupVisible)
{
    <div class="card" style="width: 27rem;">
        <div class="card-body">
            <h5 class="card-title">Checksums</h5>
            <a @onclick="ClosePrompt" href="/home/cos#"><span class="oi oi-circle-x" style="position: absolute;right: 10px;top: 10px;"></span></a>
            <h6 class="card-subtitle mb-2 text-muted">MD5</h6>
            <p class="card-text">4C7C446ACBB9A6D7B888B2787F033BED</p>
            <h6 class="card-subtitle mb-2 text-muted">SHA1</h6>
            <p class="card-text">FCF63BCDD49107F355F7EC375E5A4E3B77C4C529</p>
            <h6 class="card-subtitle mb-2 text-muted">SHA256</h6>
            <p class="card-text">4B37C50747390105C763E3758FEE5C0BC0912A57E0C9BDFE82B4C1B3943D248F</p>
        </div>
    </div>
}
@code
{
    bool popupVisible = false;
    bool isPopupClick = false;
    private void ShowVerifyPrompt()
    {
        isPopupClick = true;
        popupVisible = true;
    }

    private void PopupButtonLeave()
    {
        if (!isPopupClick)
            popupVisible = false;
    }

    private void PopupButtonEnter()
    {
        popupVisible = true;
    }

    private void ClosePrompt()
    {
        isPopupClick = false;
        popupVisible = false;
    }
}