@page "/discord"

<h1>Discord</h1>

This is my discord server. It keeps you updated on my projects
<br>
<br>
<iframe src="https://discordapp.com/widget?id=466965965658128384&theme=dark" width="50%" height="500" allowtransparency="true" frameborder="0"></iframe>