@page "/"

<h1>Hello, world!</h1>

I am JFronny, the creator of various pieces of software.
<br>
This site is a place for me to host various experiments I have created over time.
<br>
<br>
<a href="/legacysite/index.html">Old site</a>