@page "/privacy"

<h1>Privacy</h1>

I collect no data. In fact, i don't even own a dynamic server I could use for saving your data.
<br>
The same cannot be said about some of the services I use to power this site.
<br>
Specifically:
<a href="https://help.github.com/articles/github-privacy-statement/">Github</a>,
<a href="https://www.google.com/intl/en/policies/privacy/">Google</a>,
<a href="https://unity3d.com/de/legal/privacy-policy">Unity</a>,
<a href="https://discordapp.com/privacy">Discord</a> and
<a href="https://privacy.microsoft.com/de-de/privacystatement">Microsoft</a>
