@page "/profiles"

<h1>Profiles</h1>

These are some of the profiles i have used on various websites.
<br>
This list is incomplete.
<br><br>
<a class="btn btn-dark" href="https://www.curseforge.com/members/jfronny/projects"><img src="/images/anvil.svg" style="height: 15px;"> CurseForge</a>
<a class="btn btn-dark" href="https://github.com/JFronny?tab=repositories"><img src="/images/GitHub-Mark/PNG/GitHub-Mark-Light-120px-plus.png" style="height: 15px;"> GitHub</a>