@page "/removed"

<h1>Removed Content:</h1>

<a href="https://raw.githubusercontent.com/JFronny/UpTool2/master/Repo.xml">Remote Information</a> (This is no longer used and wasn't useful to begin with)<br>
<a href="https://cse.google.de/cse?cx=003187748461119106403:3-_ytqfsnwc">CSearch</a> (This was just a <a href="https://cse.google.de/cse/">CSE</a>)<br>
<a href="/legacysite/Custom%20Player">Spatial Music Player</a> (This was quite cool and I might work on a Blazor-copy soon but it is just ugly right now)<br>
<a href="/legacysite/RollABall.7z">Roll A Ball</a> (This was my first project with C# and it sucked. Also it was only a link on the old site)<br>
<a href="/legacysite/Toast">Toast-Edit</a> (This was just me playing around with javascript. It only wrapped existing functions and is basically useless)<br>
<a href="/legacysite/V/">V</a> (This was quite cool but I don't want to port it over)<br>
<a href="/legacysite/HT_HTML5">HackerTyper</a> (This is also quite cool but the actual code is very broken. You can notice this when entering a key for longer periods of time)