@page "/roulette"

<h1>4chan-Roulette</h1>

THE OWNER OF THIS WEBSITE IS NOT RESPONSIBLE FOR ANY OF THE CONTENT HERE!<br>
PLEASE MAKE YOURSELF FAMILIAR WITH THE 4CHAN TERMS BEFORE USING THIS!<br>
<a class="btn btn-dark" href="/home/roulette/accepted">I have read everything</a>