@page "/uptool"
@inject HttpClient Http

<h1>UpTool 2</h1>

UpTool 2 is the successor of CC-Toolbox. It is an easy-to-use package manager for Microsoft Windows.
<br>
It supports custom repositories, install scripts and has a minimalistic UI for simple package management
<br>
<br>
<a class="btn btn-dark" href="@File"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Download (@Version)</a>

@code
{
    private static string File = "";
    private static string Version = "";
    private static string Hash = "";
    private static XElement el;
    private async Task ReadyDownload()
    {
        HttpResponseMessage message = await Http.GetAsync("https://github.com/JFronny/UpTool2/releases/latest/download/meta.xml");
        string content = await message.Content.ReadAsStringAsync();
        el = XElement.Parse(content);
        File = el.Element("File").Value;
        Version = "Version " + el.Element("Version").Value;
        Hash = el.Element("Hash").Value;
    }

    protected override async Task OnInitializedAsync()
    {
        if (el == null)
        {
            await ReadyDownload();
        }
    }
}
