@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/privacy">Privacy</a>
        <a href="https://github.com/JFronny/JFronny.github.io" target="_blank" class="ml-md-auto"><img src="/images/GitHub-Mark/PNG/GitHub-Mark-64px.png" style="height: 2.5rem;"></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
