@page "/"

<h1>Hello, world!</h1>

I am JFronny, the creator of various pieces of software.
<br>
This site is a place for me to host various experiments I have created over time.
<br>
<br>
Since I rewrote most of this site, <a href="removed">some things were removed</a>. Sorry.
