﻿@page "/profiles"

<h1>Profiles</h1>

These are some of the profiles i have used on various websites.
<br>
This list is incomplete.
<br><br>
<a class="btn btn-dark" href="https://www.curseforge.com/members/jfronny/projects"><img src="images/curseforge.svg" style="height: 15px;" alt=""> CurseForge</a>
<a class="btn btn-dark" href="https://gitlab.com/users/JFronny/projects"><img src="images/gitlab-w.png" style="height: 24px;" alt=""> GitLab</a>