@page "/removed"

<h1>Removed Content:</h1>

Remote Information (This is no longer used and wasn't useful to begin with)<br>
CSearch (This was just a <a href="https://cse.google.de/cse/">CSE</a>)<br>
Spatial Music Player (This was quite cool and I might work on a Blazor-copy soon but it is just ugly right now)<br>
Roll A Ball (This was my first project with C# and it sucked. Also it was only a link on the old site)<br>
Toast-Edit (This was just me playing around with javascript. It only wrapped existing functions and is basically useless)<br>
V (This was quite cool but I don't want to port it over)<br>
HackerTyper (This is also quite cool but the actual code is very broken. You can notice this when entering a key for longer periods of time)<br>
<a href="roulette">Roulette</a> (This is just not on the main page because it is not exactly child friendly)
